---
---

@import "{{ site.theme }}";

body {
  font-size: 18px;
  color: #383838;
}

header {
  background: #eee;
}

.page-content {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  padding: .2em 1em .7em;
  text-align: left;
  max-width: 1000px;
}

a {
  color: #0a03d6;
}

code {
  font-size: 18px;
  background: #eee;
}

ul {
  padding-left: 2em;
  margin: 1em 0;
}

li {
  margin: 0 0 .3em;
}

li ul {
  margin-top: 0;
}

pre {
  padding: .2em .5em;
}

svg {
  max-width: 100%;
}

h2, h3, h4, h5, h6 {
  margin: .5em 0;
}

.highlight {
  margin: .5em 0;
}